<div style="display: flex;" class="mt2 mb3">
    <div style="flex: auto;"><a href='{{{issue_url}}}'><strong>{{title}}</strong></a></div>
    <div style="flex: initial;">{{>progress is_closed=is_closed progress=progress}}</div>
</div>